.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, $box-width);

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, $box-width);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, $box-width);
  }
  @media (max-width: 488px) {
    grid-template-columns: repeat(1, $box-width);
  }
  gap: 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
